@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=IBM+Plex+Mono&family=Orbitron&family=Victor+Mono&display=swap");

/* font-family: "Victor Mono", monospace; */
/* font-family: "Orbitron", sans-serif;
font-family: "IBM Plex Mono", monospace;
font-family: "Comfortaa", sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
  text-decoration: none;
}

:root{
  --bg-color:#030303;
  --second-bg-color:#ba7c75;
  --text-color:white;
  --main-color:#736d73;
}


body{
  background-color: var(--bg-color);
}

body a{
  color: var(--text-color);
}

/*! HEADER */

.header{
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  flex-wrap: wrap;


}

.logo{
/* border: 2px solid orange; */
font-size: 2rem;
font-weight: 600;
}

.navbar{
/* border: 2px solid yellow; */
display: flex;
gap: 2rem;
flex-wrap: wrap;
}

.navbar a{
font-size: 2rem;
font-weight: 600;
}

.navbar a:hover,
.navbar a:active{
  color: #736d73;
}

